body {
<<<<<<< HEAD
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
=======
    background-color: lightgrey;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
>>>>>>> 51d0d3a19f662cfbe6a618065bb24c74cbe97bc4
}

.grow {
	animation: fadein 4s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}
}

.loser,
.winner {
	animation: party ease 1s infinite;
}

@keyframes party {
	0% {
		color: pink;
	}

	25% {
		color: red;
	}

	50% {
		color: green;
	}

	75% {
		color: blue;
	}

	100% {
		color: orange;
	}
}
